body {
    background-color: #blue;
    margin-top: 50px;
    font-family: 'Lato';
    margin:0;
    padding:0;
    background-color:white;
    color: black;
}

.content{
    max-width: 800px;
    margin:0 auto;
    padding: 20px;
    background-color: white;
}

.item {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border: transparent;
    border-radius: 15px;
    box-shadow: 0 0 1em #ccc;
    transition: all .2s ease-in-out;
}

.item:hover {
    box-shadow: 0 0 1em #aaa;
}

.item.completed {
    text-decoration: line-through;
}

.toggles {
    color: black;
}

.name {
    padding-top: 3px;
}

.remove {
    padding-left: 0;
}

button:focus {
    border: 1px solid #333;
    background: linear-gradient(to right, #ff6b6b, #ffe066);
    padding: 10px 20px;
    color: #fff;
    border-radius:5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: linear-gradient(to right, #ff6b6b, #ffe066);
}
